# IntelliJ IDEA
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin

# Mac
.DS_Store

# User-specific
/debug_log.txt
